body {
    background-color: #F8F8FF;
}

#table1
{
	border: 1px solid black;
}

td
{
	border: 1px solid black;
}

th
{
	border: 1px solid black;
}



svg{
width:1000px; 
height: 600px;
background-color: lightgrey ;
}